{% from "_includes/forms" import textField, lightswitchField, selectField %}

{{ textField({
    label: 'API Username'|t('commerce'),
    id: 'user',
    class: 'ltr',
    name: 'user',
    value: gateway.user,
    errors: gateway.getErrors('user')
}) }}

{{ textField({
    label: "API Password"|t('commerce'),
    id: 'password',
    class: 'ltr',
    name: 'password',
    value: gateway.password,
    errors: gateway.getErrors('password')
}) }}

{{ textField({
    label: "API Signature"|t('commerce'),
    id: 'signature',
    class: 'ltr',
    name: 'signature',
    value: gateway.signature,
    errors: gateway.getErrors('signature')
}) }}

{{ lightswitchField({
    label: "Test mode?"|t('commerce'),
    name: 'testMode',
    on: gateway.testMode,
    errors: gateway.getErrors('testMode'),
}) }}

{{ selectField({
    label: "Solution type"|t('commerce'),
    name: 'solutionType',
    options: {
        'Sole': 'Sole',
        'Mark': 'Mark'
    },
    value: gateway.solutionType,
    errors: gateway.getErrors('solutionType')
}) }}

{{ selectField({
    label: "Landing page"|t('commerce'),
    name: 'landingPage',
    options: {
        'Billing': 'Billing',
        'Login': 'Login'
    },
    value: gateway.landingPage,
    errors: gateway.getErrors('landingPage')
}) }}

{{ textField({
    label: "Brand name"|t('commerce'),
    id: 'brandName',
    class: 'ltr',
    name: 'brandName',
    value: gateway.brandName,
    errors: gateway.getErrors('brandName')
}) }}

{{ textField({
    label: "Header image URL"|t('commerce'),
    id: 'headerImageUrl',
    class: 'ltr',
    name: 'headerImageUrl',
    value: gateway.headerImageUrl,
    errors: gateway.getErrors('headerImageUrl')
}) }}

{{ textField({
    label: "Logo image URL"|t('commerce'),
    id: 'logoImageUrl',
    class: 'ltr',
    name: 'logoImageUrl',
    value: gateway.logoImageUrl,
    errors: gateway.getErrors('logoImageUrl')
}) }}

{{ textField({
    label: "Border color"|t('commerce'),
    id: 'borderColor',
    class: 'ltr',
    name: 'borderColor',
    value: gateway.borderColor,
    errors: gateway.getErrors('borderColor')
}) }}

